
.logoSquare {
  height: 40px;
  width: 40px;
}

#bt-hamburger {
  position: absolute;
  top: .5rem;
  cursor:pointer;
}

.navbar {
  min-height: 50px;
  background-color: $color-blue !important;
  padding: 0 1rem;
}

.navbar-nav {
  width: 100%;
  align-self:center;
}

.nav-link {
  padding:11px 
}


// main nav links
#nav .navbar-nav a.nav-link{
    font-weight: 500;
    font-size: 15px;
    color: rgb(255, 255, 255); 
    text-decoration: none!important;
    &:visited {
      color:  $color-white;
      text-decoration: none!important;
    }
    &:active {
      color:  $color-white;
      text-decoration: none!important;
    }
    &:hover {
      color: $brand-rollover-blue;
      text-decoration: none!important;
    }
}

#icon-container,
#loggedInMenu {
  width: 90%;
}

// Logged Out Menu
#loggedOutMenu {
  height: 50px;
  position: relative;
  top: 7px;
  @media (min-width: $sm-break) {
    position: absolute;
    top: 0;
    right: 1rem;
  }
  a.login-link {
    color: $color-white !important;
  }
}
