<div class="template1 " style="padding-top:50px;">
  <div class="container-fluid">
    <h1>Bootstrap Grid</h1>
    <p>Two break points:</p>
    <ul>
      <li>0-575px Mobile</li>
      <ul>
        <li>col-xs-*</li>
      </ul>
      <li>576px- 1200px - Desktop</li>
      <ul>
        <li>col-sm-* ≥576px</li>
      </ul>
      <li>other available breakpoints</li>
      <ul>
        <li>col-md-*: ≥768px</li>
        <li>col-lg-*: ≥992px</li>
        <li>col-xl-*: ≥1200px</li>
      </ul>
    </ul>

    <div class="container">
      <div class="row" style="background-color: pink">
        <div class="col-xs-12 col-sm-6">col-xs-12 col-sm-6</div>
        <div class="col-xs-12  col-sm-6">col-xs-12 col-sm-6</div>
      </div>
      <div class="row" style="background-color: lightblue">
        <div class="col-xs-12 col-md-6 col-lg-3"> col-xs-12col-md-6 col-lg-3</div>
        <div class=" col-xs-12 col-md-6 col-lg-3">col-xs-12 col-md-6 col-lg-3</div>
        <div class="col-xs-12  col-md-6 col-lg-3">col-xs-12 col-md-6 col-lg-3</div>
        <div class=" col-xs-12 col-md-6 col-lg-3">col-xs-12 col-md-6 col-lg-3</div>
      </div>
      <div class="row" style="background-color: rosybrown">
        <div class="col-3">col-3</div>
        <div class="col-3">col-3</div>
        <div class="col-3">col-3</div>
        <div class="col-3">col-3</div>
      </div>
    </div>
  </div>
</div>