<div class="template2 " style="padding-top:50px;">
  <div class="container">
    <h4>Bootstrap Flexbox-Grid System: col-sm</h4>
    <p>Bootstrap will figure out col-sm equal for sm break, and then 100% for under</p>
      <div class="row" style="background-color: pink">
        <div class="col-sm">col-sm</div>
        <div class="col-sm">col-sm</div>
        <div class="col-sm">col-sm</div>
        <div class="col-sm">col-sm</div>
      </div>
    </div>

  <div class="container pt-3">
    <h4>Bootstrap Flex-Grid System: col-md fixed col, and equal other 2</h4>
    <p>Bootstrap will figure set col-md-6 and  equal for other 2 columns, and then 100% for under break</p>
      <div class="row" style="background-color: pink">
        <div class="col-md">col-md</div>
        <div class="col-md-6">col-md-6</div>
        <div class="col-md">col-md</div>
      </div>
    </div>

  <div class="container pt-3">
    <h4>Bootstrap Flex-Grid System: col-md fixed col, and equal other 2</h4>
    <p>Bootstrap will figure set col-md-6 and  equal for other 2 columns, and then 100% for under break</p>
      <div class="row" style="background-color: pink">
        <div class="col-md">col-md</div>
        <div class="col-md-6">col-md-6</div>
        <div class="col-md">col-md</div>
      </div>
      <h4 class="pt-3">Justification and order</h4>
      <div class="row justify-content-md-center">
        <div class="col-md-2 flex-last">1 col-md-2</div>
        <div class="col-md-2 flex-first">2 col-md-2</div>
        <div class="col-md-2">3 col-md-2</div>
      </div>
    </div>
  </div>
</div>